.tt-slide-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.tt-carousel-title {
  font-size: 7rem;
}

.tt-shadow {
  width: 100vw;
  height: 600px;
  background: rgba(32, 32, 32, .4);
  position: absolute;
  top: 0;
}

::ng-deep {
  .visually-hidden {
    display: none;
  }

  .carousel-caption {
    bottom: 33% !important;
    font-family: 'Tangerine', cursive !important;
  }
}
