.tt-contact {
  .tt-contact-img {
    height: 500px;
    object-fit: cover;
  }

  .tt-contact-body {
    margin-top: 50px;

  }
}

.tt-map {
  position: relative;

  .tt-shadow {
    width: 100%;
    height: 600px;
    background: rgba(32, 32, 32, .7);
    position: absolute;
    top: 0;
    z-index: 99;
  }

  agm-map {
    height: 600px;
  }
}
