<div class="tt-contact">
    <div class="container-fluid">
        <div class="tt-contact-header">
            <img class="w-100 tt-contact-img" src="assets/images/contact.jpg" alt="contact-header">
        </div>
    </div>
    <div class="tt-contact-body px-4">
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="tt-section mb-4">
                        <p class="text-uppercase">
                            ai cũng phải đẹp
                        </p>
                        <h1 class="text-uppercase font-weight-bold">
                            tôn vinh làn da của bạn
                        </h1>
                        <p>
                            Hãy đến với chúng tôi, nơi cung cấp những sản phẩm dưỡng da tốt nhất hiện nay.
                        </p>
                    </div>
                    <br>
                    <div class="tt-section mt-4">
                        <h5 class="text-uppercase font-weight-bold">
                            địa chỉ
                        </h5>
                        <p class="m-0">KTX Khu B, ĐHQG TP. Hồ Chí Minh</p>
                        <p class="m-0">+84 965 497 410</p>
                        <p class="m-0">tieutieushop@gmail.com</p>
                    </div>
                    <br>
                    <div class="tt-section">
                        <h5 class="text-uppercase font-weight-bold">
                            liên lạc
                        </h5>
                        <p class="m-0">www.facebook.com/tieutieushop</p>
                        <p class="m-0">instagram/tieutieu/shop</p>
                        <p class="m-0">youtube/tieutieushop</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <form class="mt-4">
                        <div class="form-group">
                            <input type="email" aria-describedby="emailHelp" placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <input type="email" aria-describedby="emailHelp" placeholder="Địa chỉ email">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Tin nhắn" style="height: 150px" class="w-100"></textarea>
                        </div>
                    </form>

                    <p class="text-right mt-2">
                        <button class="btn-tt btn-tt-black">
                            Gửi
                        </button>
                    </p>
                    <ul class="tt-nav m-0 p-0">
                        <li class="tt-nav-item px-4">
                            <button class="btn-icon">
                                <i class="fab fa-facebook-square"></i>
                            </button>
                        </li>
                        <li class="tt-nav-item px-4">
                            <button class="btn-icon">
                                <i class="fab fa-youtube"></i>
                            </button>
                        </li>
                        <li class="tt-nav-item px-4">
                            <button class="btn-icon">
                                <i class="fab fa-instagram"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tt-map mt-4">
    <div class="tt-shadow"></div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>