<div class="tt-contact">
    <div class="container-fluid">
        <div class="tt-contact-header">
            <img class="w-100 tt-contact-img" src="assets/images/contact.jpg" alt="contact-header">
        </div>
    </div>
    <div class="tt-contact-body px-4">
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-6">
                    <div class="tt-section mb-4">
                        <p class="text-uppercase">
                            ai cũng phải đẹp
                        </p>
                        <h1 class="text-uppercase font-weight-bold">
                            tôn vinh làn da của bạn
                        </h1>
                        <p>
                            Hãy đến với chúng tôi, nơi cung cấp những sản phẩm dưỡng da tốt nhất hiện nay.
                        </p>
                    </div>
                    <br>
                    <div class="tt-section mt-4">
                        <h5 class="text-uppercase font-weight-bold">
                            địa chỉ
                        </h5>
                        <p class="m-0">KTX Khu B, ĐHQG TP. Hồ Chí Minh</p>
                        <p class="m-0">+84 965 497 410</p>
                        <p class="m-0">tieutieushop@gmail.com</p>
                    </div>
                    <br>
                    <div class="tt-section">
                        <h5 class="text-uppercase font-weight-bold">
                            liên lạc
                        </h5>
                        <p class="m-0">www.facebook.com/tieutieushop</p>
                        <p class="m-0">instagram/tieutieu/shop</p>
                        <p class="m-0">youtube/tieutieushop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>