.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: .06em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
  padding: 6px 39px;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.btn-icon {
  font-size: 20px;
  background: transparent;
  border: none;
}