<div class="tt-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 tt-footer-logo text-center">
                <img src="assets/images/logo-black.png" alt="logo" class="w-75">
                <p class="mt-4">
                    Hãy để chính bạn làm tôn lên vẻ đẹp của mình.
                </p>
            </div>
            <div class="col-12 col-sm-3 text-center">
                <p class="font-weight-bold">
                    MUA SẮM
                </p>
                <p>
                    Sản phẩm
                </p>
                <p>
                    Bộ sưu tập
                </p>
            </div>
            <div class="col-12 col-sm-3 text-center">
                <p class="font-weight-bold">
                    VỀ CHÚNG TÔI
                </p>
                <p>
                    Thông tin
                </p>
                <p>
                    Liên lạc
                </p>
            </div>
            <div class="col-12 col-sm-3">
                <p class="font-weight-bold">
                    HÃY ĐĂNG KÝ ĐỂ NHẬN TIN
                </p>
                <div class="tt-newsletter">
                    <div class="form-group">
                        <input type="email" aria-describedby="emailHelp" placeholder="Địa chỉ email">
                    </div>
                </div>
                <ul class="tt-nav mt-4 p-0">
                    <li class="tt-nav-item px-4">
                        <button class="btn-icon">
                            <i class="fab fa-facebook-square"></i>
                        </button>
                    </li>
                    <li class="tt-nav-item px-4">
                        <button class="btn-icon">
                            <i class="fab fa-youtube"></i>
                        </button>
                    </li>
                    <li class="tt-nav-item px-4">
                        <button class="btn-icon">
                            <i class="fab fa-instagram"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark">
        <div class="tt-sign">
            <p class="text-right p-4 m-0">
                letuankhoi@designer , July 2021
            </p>
        </div>
</div>