<div class="tt-navbar d-none d-sm-block">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-3 tt-logo">
                <img src="assets/images/logo-black.png" alt="tt-logo">
            </div>
            <div class="col-6 tt-list-nav text-center my-auto">
                <ul class="tt-nav m-0 p-0">
                    <li class="tt-nav-item px-4">
                        <span [routerLink]="['/']" routerLinkActive="router-link-active" class="c-pointer">
                            trang chủ
                        </span>
                    </li>
                    <li class="tt-nav-item px-4">
                        <span [routerLink]="['/product']" routerLinkActive="router-link-active" class="c-pointer">
                            sản phẩm
                        </span>
                    </li>
                    <li class="tt-nav-item px-4">
                        <span class="c-pointer">
                            thông tin
                        </span>
                    </li>
                    <li class="tt-nav-item px-4">
                        <span [routerLink]="['/contact']" routerLinkActive="router-link-active" class="c-pointer">
                            liên lạc
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-3 text-right">
                <ul class="tt-nav">
                    <li class="tt-nav-icon px-2">
                        <button class="btn-icon c-pointer">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                    <li class="tt-nav-icon px-2">
                        <button class="btn-icon c-pointer">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </li>
                    <li class="tt-nav-icon px-2">
                        <button (click)="onEmailRegis()" class="btn-icon c-pointer">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </li>
                    <li class="tt-nav-icon px-2">
                        <button class="btn-icon c-pointer">
                            <i class="fas fa-bars"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tt-navbar-mobile d-block d-sm-none">
    <div class="container my-3">
        <div class="row">
            <div class="col-5">
                <img class="w-100" src="assets/images/logo-black.png" alt="tt-logo">
            </div>
            <div class="col-7 text-right my-auto">
                <button (click)="onMenu()" class="btn-icon c-pointer">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div [class.tt-after-stretch]="isShow" class="tt-side-menu position-fixed">
                    <div class="container-fluid p-4 h-100">
                        <div class="row">
                            <div class="col-8 my-auto">
                            </div>
                            <div class="col-4 my-auto">
                                <button (click)="onMenu()" class="btn-icon c-pointer">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="col-10 h-100 text-right">
                                <div class="tt-list">
                                    <p (click)="onMenu()" [routerLink]="['/']" routerLinkActive="router-link-active">TRANG CHỦ</p>
                                    <p (click)="onMenu()" [routerLink]="['/product']" routerLinkActive="router-link-active">SẢN PHẨM</p>
                                    <p>THÔNG TIN</p>
                                    <p (click)="onMenu()" [routerLink]="['/contact']" routerLinkActive="router-link-active">LIÊN LẠC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>