.tt-navbar-mobile {
    .tt-side-menu {
        height: 100vh;
        width: 100%;
        background-color: rgb(196, 189, 189);
        transform: translate(100%, -10%);
        z-index: 10000;
        transition-duration: .4s;
    }

    .tt-after-stretch {
        transform: translate(10%, -10%);
        transition-duration: .4s;
    }
}