<div class="tt-navbar">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-3 tt-logo">
                <img src="assets/images/logo-black.png" alt="tt-logo">
            </div>
            <div class="col-6 tt-list-nav text-center my-auto">
                <ul class="tt-nav m-0 p-0">
                    <li class="tt-nav-item px-4">
                        <span [routerLink]="['/']" routerLinkActive="router-link-active"  class="c-pointer">
                            trang chủ
                        </span>
                    </li>
                    <li class="tt-nav-item px-4">
                        <span [routerLink]="['/product']" routerLinkActive="router-link-active"  class="c-pointer">
                            sản phẩm
                        </span>
                    </li>
                    <li class="tt-nav-item px-4">
                        <span class="c-pointer">
                            thông tin
                        </span>
                    </li>
                    <li class="tt-nav-item px-4">
                        <span class="c-pointer">
                            liên lạc
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-3 text-right">
                <ul class="tt-nav">
                    <li class="tt-nav-icon px-2">
                        <button class="btn-icon c-pointer">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                    <li class="tt-nav-icon px-2">
                        <button class="btn-icon c-pointer">
                            <i class="fas fa-shopping-bag"></i>
                        </button>
                    </li>
                    <li class="tt-nav-icon px-2">
                        <button (click)="onEmailRegis()" class="btn-icon c-pointer">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </li>
                    <li class="tt-nav-icon px-2">
                        <button class="btn-icon c-pointer">
                            <i class="fas fa-bars"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>