<div class="tt-product">
    <div class="tt-header y-4">
        <div class="text-white p-4">
            <p>
                Trang chủ / 
                <strong>
                    Sản phẩm
                </strong>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4 pb-4">
                <h1 class="tt-title">
                    SẢN PHẨM
                </h1>
            </div>
            <ng-container *ngFor="let data of listProducts">
                <div class="col-4 mb-4">
                    <app-product-card [data]="data"></app-product-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>